<div class="row">
  <div class="col-md-2">
    <select class="form-control input-sm">
      <option></option>
      <option>Close Price</option>
      <option>Open Price</option>
      <option>High Price</option>
      <option>Low Price</option>
      <option>Volume</option>
      <option>Simple Moving Average</option>
      <option>Exponential Moving Average</option>
      <option>Triangular Moving Average</option>
      <option>Weighted Moving Average</option>
      <option>Bollinger Band Upper</option>
      <option>Bollinger Band Middle</option>
      <option>Bollinger Band Lower</option>
      <option>Parabolic SAR</option>
      <option>EMA Envelopes Upper</option>
      <option>EMA Envelopes Lower</option>
      <option>Time Series Forecast</option>
      <option>Median Price</option>
      <option>Typical Price</option>
      <option>Weighted Close</option>
      <option>Average Volume</option>
      <option>Accumulation Distribution</option>
      <option>Accumulation Distribution SMA</option>
      <option>Average Directional Index</option>
      <option>Plus Directional Index</option>
      <option>Minus Directional Index</option>
      <option>Commodity Channel Index</option>
      <option>Fast Stochastic %K</option>
      <option>Fast Stochastic %D</option>
      <option>Slow Stochastic %K</option>
      <option>Slow Stochastic %D</option>
      <option>Full Stochastic %K</option>
      <option>Full Stochastic %D</option>
      <option>Stochastic RSI</option>
      <option>MACD</option>
      <option>MACD EMA Signal</option>
      <option>MACD Histogram</option>
      <option>Money Flow Index</option>
      <option>On Balance Volume</option>
      <option>On Balance Volume EMA</option>
      <option>PPO</option>
      <option>PPO Signal</option>
      <option>PPO Histogram</option>
      <option>Relative Strength Index</option>
      <option>TRIX</option>
      <option>TRIX EMA</option>
      <option>Ultimate Oscillator</option>
      <option>Williams %R</option>
      <option>Accumulation Swing Index</option>
      <option>Aroon Down</option>
      <option>Aroon Up</option>
      <option>Aroon Oscillator</option>
      <option>Average True Range</option>
      <option>Bollinger Band Width %</option>
      <option>Bollinger Band %b</option>
      <option>Chaikin Money Flow</option>
      <option>Detrended Price Oscillator</option>
      <option>Ease of Movement</option>
      <option>Ease of Movement EMA</option>
      <option>Force Index</option>
      <option>Force Index EMA</option>
      <option>High Low Spread</option>
      <option>High Low Mid Price</option>
      <option>Highest High</option>
      <option>Lowest Low</option>
      <option>Historical Volatility</option>
      <option>Mass Index</option>
      <option>Momentum</option>
      <option>Negative Volume Index</option>
      <option>Negative Volume Index EMA</option>
      <option>Positive Volume Index</option>
      <option>Positive Volume Index EMA</option>
      <option>Price Change %</option>
      <option>Rate of Change %</option>
      <option>Price times Average Volume</option>
      <option>Price times Volume Average</option>
      <option>Price Volume Trend</option>
      <option>Price Volume Trend SMA</option>
      <option>Standard Deviation</option>
      <option>Volatility Chaikins</option>
      <option>Candle Real Body</option>
      <option>Candle Real Body Mid Price</option>
      <option>Candle Upper Shadow</option>
      <option>Candle Lower Shadow</option>
    </select>
  </div>
  <div class="col-md-1">
    <input type="text" class="form-control input-sm" placeholder="param">
  </div>
  <div class="col-md-2 text-center">
    <select class="form-control input-sm">
      <option>equal to</option>
      <option>less than</option>
      <option>less than or equal to</option>
      <option>greater than</option>
      <option>greater than or equal to</option>
      <option>crossed above</option>
      <option>crossed below</option>
      <option>decreasing for</option>
      <option>heighest in</option>
      <option>increasing for</option>
      <option>lowest in</option>
      <option>has been above</option>
      <option>has been below</option>
    </select>
  </div>
  <div class="col-md-2">
    <select class="form-control input-sm">
      <option></option>
      <option>Constant</option>
      <option>Close Price</option>
      <option>Open Price</option>
      <option>High Price</option>
      <option>Low Price</option>
      <option>Volume</option>
      <option>Simple Moving Average</option>
      <option>Exponential Moving Average</option>
      <option>Triangular Moving Average</option>
      <option>Weighted Moving Average</option>
      <option>Bollinger Band Upper</option>
      <option>Bollinger Band Middle</option>
      <option>Bollinger Band Lower</option>
      <option>Parabolic SAR</option>
      <option>EMA Envelopes Upper</option>
      <option>EMA Envelopes Lower</option>
      <option>Time Series Forecast</option>
      <option>Median Price</option>
      <option>Typical Price</option>
      <option>Weighted Close</option>
      <option>Average Volume</option>
      <option>Accumulation Distribution</option>
      <option>Accumulation Distribution SMA</option>
      <option>Average Directional Index</option>
      <option>Plus Directional Index</option>
      <option>Minus Directional Index</option>
      <option>Commodity Channel Index</option>
      <option>Fast Stochastic %K</option>
      <option>Fast Stochastic %D</option>
      <option>Slow Stochastic %K</option>
      <option>Slow Stochastic %D</option>
      <option>Full Stochastic %K</option>
      <option>Full Stochastic %D</option>
      <option>Stochastic RSI</option>
      <option>MACD</option>
      <option>MACD EMA Signal</option>
      <option>MACD Histogram</option>
      <option>Money Flow Index</option>
      <option>On Balance Volume</option>
      <option>On Balance Volume EMA</option>
      <option>PPO</option>
      <option>PPO Signal</option>
      <option>PPO Histogram</option>
      <option>Relative Strength Index</option>
      <option>TRIX</option>
      <option>TRIX EMA</option>
      <option>Ultimate Oscillator</option>
      <option>Williams %R</option>
      <option>Accumulation Swing Index</option>
      <option>Aroon Down</option>
      <option>Aroon Up</option>
      <option>Aroon Oscillator</option>
      <option>Average True Range</option>
      <option>Bollinger Band Width %</option>
      <option>Bollinger Band %b</option>
      <option>Chaikin Money Flow</option>
      <option>Detrended Price Oscillator</option>
      <option>Ease of Movement</option>
      <option>Ease of Movement EMA</option>
      <option>Force Index</option>
      <option>Force Index EMA</option>
      <option>High Low Spread</option>
      <option>High Low Mid Price</option>
      <option>Highest High</option>
      <option>Lowest Low</option>
      <option>Historical Volatility</option>
      <option>Mass Index</option>
      <option>Momentum</option>
      <option>Negative Volume Index</option>
      <option>Negative Volume Index EMA</option>
      <option>Positive Volume Index</option>
      <option>Positive Volume Index EMA</option>
      <option>Price Change %</option>
      <option>Rate of Change %</option>
      <option>Price times Average Volume</option>
      <option>Price times Volume Average</option>
      <option>Price Volume Trend</option>
      <option>Price Volume Trend SMA</option>
      <option>Standard Deviation</option>
      <option>Volatility Chaikins</option>
      <option>Candle Real Body</option>
      <option>Candle Real Body Mid Price</option>
      <option>Candle Upper Shadow</option>
      <option>Candle Lower Shadow</option>
    </select>
  </div>
  <div class="col-md-1">
    <input type="text" class="form-control input-sm" placeholder="param">
  </div>
  <div class="col-md-1">&nbsp;</div>
  <div class="col-md-2">
    <select class="form-control input-sm">
      <option></option>
      <option>Buy</option>
      <option>Sell</option>
      <option>Short</option>
      <option>Cover Short</option>
    </select>
  </div>
  <div class="col-md-1">
    <input type="text" class="form-control input-sm" placeholder="volume">
  </div>
</div>
