<h3 style="display:inline-block;"><%= fa_icon "group", text: "Trader Connect" %></h3>

<% posts_data = [{ heading: "", },
                 {},] %>
<ul class="traderConnectPosts list-unstyled">
  <li class="postItem">
    <div class="postWrap">
      <a href="#"><img src="http://placehold.it/64x64" alt="avatar" class="pull-left clearfix avatar" ></a>
      <div class="post" class="pull-left">
        <h4 class="title">
          <a href="#" class="text-info">Buying and Selling based on Latest News</a>
          <small>(selling fast)</small>
        </h4>
        <p class="meta">
          submitted 1 hour ago by
          <strong><a href="#" class="text-warning">Peter</a></strong>
        </p>
        <p class="socialLinksButtons">
          <a href="#" class="text-success"><%= fa_icon "comments", text: "12 comments" %></a>
          <button class="btn btn-xs btn-facebook"><i class="icon-facebook"></i> Share on Facebook</button>
          <button class="btn btn-xs btn-twitter"><i class="icon-twitter"></i> Tweet this</button>
          <button class="btn btn-xs btn-google-plus"><i class="icon-google-plus"></i> +1 on Google</button>
          <button class="btn btn-xs btn-weibo"><i class="icon-weibo"></i> 微博分享</button>
        </p>
      </div>
    </div>
  </li>
</ul>
