/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

@import "twitter/bootstrap";
@import "font-awesome";
@import "daterangepicker-bs3";

@-webkit-keyframes throbber {
  0% {
    color: #333;
  }
  33% {
    color: #ccc;
  }
  100% {
    color: #ccc;
  }
}

/* CSS3 throbber starts here. Reference: https://gist.github.com/ceol/5655767 */
.throb-group {
  display: none;
  text-align: center;
}

.throb-group .icon-throb {
  display: inline-block;
  -webkit-animation: throbber 1s .165s infinite steps(3);
  font-size: 14px;
  color: #ccc;
}

.throb-group .icon-throb:nth-child(2) {
  -webkit-animation-delay: .33s;
}

.throb-group .icon-throb:nth-child(3) {
  -webkit-animation-delay: .495s;
}
/* CSS3 throbber ends here */

body {
  min-height: 800px;
  padding-top: 70px;

  .row {
    margin-top: 12px;
  }

  h3 {
    margin: 0px 0px 8px 0px;
  }

  #backtestButtonContainer {
    margin: 12px 8px 8px 8px;
  }

  .traderConnectPosts {
    .postItem {
      line-height: 1.15;
      margin-bottom: 20px;
      min-height: 60px;
      padding: 10px 10px 20px;
      position: relative;
      color: #777;
      box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;

      .postWrap {
        .post {
          margin-left: 70px;
        }
      }
    }
  }

  .list-unstyled {
    li {
      margin: 3px 0px;
      font-size: 12px;
    }
  }

  .sidebarButtons {
    display: block;
    text-align: center;
    .btn {
      width: 70%;
      margin-bottom: 8px;
    }
  }
}
