<form class="form-horizontal" role="form">
  <div class="form-group">
    <label for="inputStrategyName" class="col-md-5 control-label">Name</label>
    <div class="col-md-7">
      <input type="text" class="form-control input-sm" id="inputStrategyName" placeholder="Name">
    </div>
  </div>
  <div class="form-group">
    <label for="inputStrategyInitialCapital" class="col-md-5 control-label">Initial Capital</label>
    <div class="col-md-7 input-group">
      <span class="input-group-addon">$</span>
      <input type="text" class="form-control input-sm" id="inputStrategyInitialCapital" placeholder="Initial Capital">
    </div>
  </div>
  <div class="form-group">
    <label for="inputStrategyTradeCommission" class="col-md-5 control-label">Trade Commission</label>
    <div class="col-md-7 input-group">
      <span class="input-group-addon">$</span>
      <input type="text" class="form-control input-sm" id="inputStrategyTradeCommission" placeholder="Trade Commission">
    </div>
  </div>
  <div class="form-group">
    <label for="inputStrategyDateRange" class="col-md-5 control-label">Date Range</label>
    <div class="col-md-7">
      <input type="text" class="form-control input-sm" id="inputStrategyDateRange" placeholder="Click here to select dates">
    </div>
  </div>
</form>
