<div class="row">
  <div class="col-md-4">
    <%= render 'form' %>
  </div>
  <div class="col-md-8">
    <%= render 'signals/form' %>
  </div>
</div>
<div class="row">
  <div id="backtestingChartThrobber" class="throb-group">
    <i class="icon-sign-blank icon-throb"></i>
    <i class="icon-sign-blank icon-throb"></i>
    <i class="icon-sign-blank icon-throb"></i>
  </div>
  <div id="backtestingChartContainer" style="height: 600px; min-width: 500px"></div>
</div>
